.additional-goods {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    border-top: 2px solid #68b738;
    top: 15px;
    right: 0;
    left: 0;
    z-index: -2;

    @media (min-width: @tablet-width) {
      top: 21px;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 490px;
  }
}

.additional-goods__grid {
  display: grid;
  grid-template-rows: 1fr 289px;
  row-gap: 37px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) and (max-width: 1279px) {
    grid-template-rows: 1fr 200px;
    row-gap: 66px;
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 80px;
    max-width: 1220px;
    margin: 0 auto;
  }
}

.additional-goods__wrapper {
  & .additional-goods__inner:last-child {
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    height: 288px;
    width: 895px;
    margin: 0;
  }
}

.additional-goods__inner {
  padding: 13px 0 19px;
  border-top: 1px solid #ebebeb;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 26px 37px 28px;
    min-height: 140px;
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid #ebebeb;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 1fr) max-content;
    min-height: 72px;
    border-left: none;
    border-right: none;
    padding: 0;
  }
}

.additional-goods__title {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  background-color: #ffffff;
  width: max-content;
  margin: 25px 0 36px;
  z-index: 2;
  padding-right: 21px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    .resize-text(36px, 36px);
    margin: 0 0 80px;
    padding-left: 36px;
    padding-right: 40px;
    position: relative;
    left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 38px;
    left: 73px;
  }
}

.additional-goods__name {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 13px;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    .resize-text(20px, 20px);
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}
