.adv {
  text-align: center;
  background: url("../img/index-background-img.jpg") no-repeat 50% 0;
}

.adv__block {
  background: rgba(104, 183, 56, 0.85);
  min-width: 320px;
  min-height: 302px;
}

.adv__pic {
  position: relative;
  top: -135px;
  left: 0;
}

.adv__button {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  min-height: 40px;
  background-color: #68b738;
  color: #ffffff;
  margin-top: -135px;
}

.adv__title {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  color: #ffffff;

  margin: 0;
  padding: 27px 10px 0;
}

.adv__slogan {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 25px;
  margin: 0;
}
