.button-order {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 13px;

  width: 100%;
  min-height: 40px;
  background-color: #68b738;
  color: #ffffff;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  align-items: center;
  justify-content: center;

  &--add {
    margin-top: 15px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
