@example-bcg-grey: #eaeaea;
@example-bcg-tab: #ffffff;

.example {
  background-color: @example-bcg-grey;
  min-height: 705px;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    background-color: @example-bcg-tab;
    border-top: 1px solid #e6e6e6;
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    padding: 0;
  }
}

.example__title {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  .resize-text(36px, 40px);
  padding: 0 20px 35px;

  margin: 0;

  @media (min-width: @tablet-width) {
    .resize-text(60px, 60px);
    padding: 0 30px 63px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.example__description {
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #444444;
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .resize-text(16px, 24px);
    letter-spacing: 0.2px;

    .only-tab {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 70px;

    .only-tab {
      display: none;
    }

    .only-desktop {
      display: block;
    }
  }
}

.example__container {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 1fr min-content;
  }
}

.example--bcg {
  @media (min-width: @desktop-width) {
    background-color: @example-bcg-grey;
    margin-top: 76px;
    min-height: 462px;
  }
}

.example__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px 0 35px;

  @media (max-width: @mobile-width-only) {
    max-width: 280px;
  }

  @media (min-width: @tablet-width) {
    width: 366px;
    margin-top: 52px;
  }

  @media (min-width: @desktop-width) {
    margin: 67px 0 56px;
  }
}

.example__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  height: 54px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 71px;
  }
}

.example__result {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  padding: 11px 15px;

  @media (min-width: @tablet-width) {
    .resize-text(30px, 37px);
    padding: 13px 15px;
  }
}

.example__annotation {
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
  order: 2;
  background-color: @example-bcg-grey;
  padding: 0 15px;

  .only-mobile {
    display: block;
  }

  @media (min-width: @tablet-width) {
    background-color: @example-bcg-tab;
    .resize-text(14px, 14px);

    .only-mobile {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @example-bcg-grey;
  }
}

.example__total {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 44px;

  .only-tab {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .resize-text(20px, 27px);
    text-align: right;
    padding-top: 18px;

    .only-tab {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    padding-top: 3px;

    span {
      padding-left: 63px;
    }

    .only-tab {
      display: none;
    }
  }
}

.example__img {
  background-color: transparent;
  width: auto;
  height: 229px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &--active {
    display: block;
  }

  &--disabled {
    display: none;
  }
}

.example__before,
.example__after {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 68px;
    .resize-text(20px, 30px);
  }
}

.example__diff {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 23px 0 auto;
  width: 100%;
  height: 40px;

  @media (min-width: @tablet-width) {
    background-color: @example-bcg-grey;
    height: 462px;
    align-items: flex-end;
    margin: -9px 0 auto;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
    height: auto;
  }
}

.example__before-after {
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  background-color: @example-bcg-tab;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    width: 426px;
    height: 6px;
    background-color: #dcdcdc;
    margin-bottom: 81px;
  }
}
