@example-bcg-grey: #eaeaea;
@example-bcg-tab: #ffffff;

.example {
  background-color: @example-bcg-grey;
  min-height: 705px;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    border-top: 1px solid #e6e6e6;
    padding-top: 43px;
    background: linear-gradient(#ffffff 619px, @example-bcg-grey 619px);
    min-height: 1081px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    padding: 0;
    background: linear-gradient(#ffffff 136px, @example-bcg-grey 136px);
    position: relative;
    min-height: 599px;
    z-index: 3;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 73.4%;
      height: 464px;
      top: 135px;
      background-color: #f2f2f2;
      z-index: -1;

      @media (min-width: 1440px) {
        width: 72.4%;
      }
    }
  }
}

.example__title {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  .resize-text(36px, 40px);
  padding: 0 20px 35px;

  margin: 0;

  @media (min-width: @tablet-width) {
    .resize-text(60px, 60px);
    padding: 0 30px 63px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.example__description {
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #444444;
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .resize-text(16px, 24px);
    letter-spacing: 0.2px;

    .only-tab {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 70px;
    display: block;
    width: 700px;
    padding-right: 100px;

    .only-tab {
      display: none;
    }

    .only-desktop {
      display: block;
    }
  }
}

.example__container {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 1fr min-content;
  }
}

.example__bcg {
  @media (min-width: @desktop-width) {
    margin-top: 76px;
  }
}

.example__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px auto 35px;

  @media (max-width: @mobile-width-only) {
    max-width: 280px;
  }

  @media (min-width: @tablet-width) {
    width: 366px;
    margin: 55px 0 35px;
  }

  @media (min-width: @desktop-width) {
    margin: 67px 0 56px;
  }
}

.example__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  height: 54px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 71px;
  }
}

.example__result {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  padding: 11px 15px;

  @media (min-width: @tablet-width) {
    .resize-text(30px, 37px);
    padding: 13px 15px;
  }
}

.example__annotation {
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
  order: 2;
  background-color: @example-bcg-grey;
  padding: 0 15px;

  .only-mobile {
    display: block;
  }

  @media (min-width: @tablet-width) {
    background-color: @example-bcg-tab;
    .resize-text(14px, 14px);
    padding: 0 8px;

    .only-mobile {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__total {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 44px;

  .only-tab {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .resize-text(20px, 27px);
    text-align: right;
    padding-top: 18px;

    .only-tab {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    padding-top: 3px;

    span {
      padding-left: 63px;
    }

    .only-tab {
      display: none;
    }
  }
}

.example__btn {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  border-bottom: 1px dotted fade(#000000, 40%);

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: calc(50% - 10px);
    z-index: 1;
  }

  &--before::before {
    left: 105px;
  }

  &--after::before {
    left: 155px;
  }

  @media (min-width: @tablet-width) {
    .resize-text(20px, 30px);
  }

  &:hover,
  &:focus-visible {
    border-bottom: 1px solid fade(#000000, 60%);
  }
}

.example__input {
  flex: 1 1 auto;
  margin: 0 1.7em;
  display: none;

  @media (min-width: @tablet-width) {
    &[type="range"] {
      appearance: none;
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    &[type="range"]::-webkit-slider-thumb {
      appearance: none;
      border: 1px solid #cdcdcd;
      height: 34px;
      width: 34px;
      border-radius: 50%;
      margin-top: -14px;
      background-color: #68b738;
      cursor: pointer;
      box-shadow: inset 0 0 0 12px #ffffff, 0 2px 2px fade(#000000, 10%);

      &:hover,
      &:focus-visible {
        box-shadow: inset 0 0 0 12px #ffffff, 0 2px 2px fade(#000000, 20%);
      }

      &:active {
        border-color: #68b738;
      }
    }

    &[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      background: #dcdcdc;
      border-radius: 6px;
    }
  }
}

.example__diff {
  --diff: 100%;
  --psevdo-left: 0;
  position: relative;
  width: 320px;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 690px;
    max-width: 690px;
    min-height: 635px;
    margin-top: 47px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: -103px;
    left: 50%;
    transform: translateX(-9%);
  }

  @media (min-width: 1440px) {
    transform: translateX(-6%);
  }
}

.example__top {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--diff, 50%);
  overflow-x: hidden;
  background-color: #eaeaea;
  transition: all 0.3s ease-in-out;

  @media (min-width: @tablet-width) {
    background: linear-gradient(#ffffff 173px, #eaeaea 173px);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(#ffffff 192px, #f2f2f2 192px);
    height: 655px;
  }
}

.example__controls {
  position: relative;
  width: 320px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1.3em 4.4em;

  @media (min-width: @tablet-width) {
    padding: 0.9em 4.3em;
  }

  @media (min-width: @desktop-width) {
    padding: 2.1em 4.2em;
    margin-left: 22px;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
  }

  &::before {
    width: 84px;
    height: 14px;
    background: #f8f7f7;
    left: 50%;
    top: calc(50% - 7px);
    transform: translateX(-50%);
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    border-radius: 6px;
  }

  &::after {
    width: 35px;
    height: 6px;
    background: #68b738;
    border-radius: 6px;
    left: calc(50% - 35px);
    top: calc(50% - 3px);
    transform: translateX(var(--psevdo-left));
  }
}

.example__after,
.example__before {
  width: 310px;
  min-width: 310px;
  max-width: 310px;
  height: auto;
}

@media (min-width: @tablet-width) {
  .example__after,
  .example__before,
  .example__controls {
    width: 690px;
    max-width: 690px;
    min-width: 690px;
  }

  .example__diff {
    --diff: 50%;
  }

  .example__input {
    display: block;
  }

  .example__controls::before,
  .example__controls::after {
    display: none;
  }

  .example__btn::before {
    content: none;
    display: none;
  }
}
