.nutrition-program {
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 8px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 52px;
  }
}

.nutrition-program__wrapper {
  display: grid;
  row-gap: 24px;

  @media (min-width: @tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.nutrition-program__title {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  position: relative;

  @media (max-width: @mobile-width-only) {
    .resize-text(24px, 37px);
    padding-top: 30px;
    padding-left: 91px;

    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #68b738;
      left: 22px;
      top: 24px;
    }
  }

  @media (min-width: @tablet-width) {
    .resize-text(36px, 36px);
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    padding-left: 23px;

    &--weight {
      padding-left: 64px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: #68b738;
      border-radius: 50%;
      left: 0;
      top: -30px;
    }
  }
}

.nutrition-program__description {
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  .resize-text(16px, 24px);
  color: #444444;
  position: relative;

  margin: 0;

  // .only-mobile {
  //   display: none;
  // }

  @media (min-width: @tablet-width) {
    padding: 24px 0 52px;

    &::after {
      content: "";
      width: 200px;
      height: 200px;
      border-radius: 50%;
      position: absolute;
      background-color: #68b738;
      transform: translateX(47%);
      left: 50%;
      top: -21px;
    }
  }

  @media (max-width: @mobile-width-only) {
    .resize-text(14px, 18px);
    padding: 30px 10px 22px 25px;
    border-bottom: 1px solid #d9d9d9;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 73px 0 23px;

    &::after {
      display: none;
    }

    br {
      display: none;
    }
  }
}

.nutrition-program__description-shift {
  display: none;
}

.nutrition-program__diet {
  background-color: #f2f2f2;
  position: relative;
  min-height: max-content;

  @media (min-width: @tablet-width) {
    padding: 77px 53px 10px;
    min-height: 372px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 52px 10px;
    min-height: 374px;
    width: 570px;
  }

  svg {
    position: absolute;
    z-index: 2;
  }
}

.nutrition-program__diet-slim {
  left: 22px;
  top: 21px;
  width: 50px;
  height: 50px;

  @media (min-width: @tablet-width) {
    width: 140px;
    height: 192px;
    top: 81px;
    left: 50%;
    transform: translateX(87%);
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    height: 97px;
    left: 6px;
    top: 41px;
  }
}

.nutrition-program__diet-weight {
  left: 13px;
  top: 24px;
  width: 67px;
  height: 50px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 112px;
    top: 135px;
    left: 50%;
    transform: translateX(22%);
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 56px;
    left: 3px;
    top: 67px;
  }
}

.nutrition-program__link {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  .resize-text(20px, 30px);
  text-transform: uppercase;
  display: block;
  position: relative;

  @media (max-width: @mobile-width-only) {
    .resize-text (16px, 16px);
    padding: 18px 19px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    top: 25px;
    left: 121px;
    background-color: black;

    @media (min-width: @tablet-width) {
      top: 14px;
      left: 132px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 138px;
    border: 5px solid transparent;
    border-left: 7px solid #000000;

    @media (min-width: @tablet-width) {
      top: 10px;
      left: 150px;
    }
  }

  &:hover::after,
  &:focus::after {
    width: 26px;
    transition: all 0.4s ease-in-out;
  }

  &:hover::before,
  &:focus::before {
    @media (max-width: @mobile-width-only) {
      left: 145px;
    }

    left: 155px;
    transition: all 0.4s ease-in-out;
  }

  &:active {
    opacity: 0.3;
  }
}
