.text {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.caption {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 39px;
  background: #ffffff;
  padding-right: 20px;
}

.page-main__form--wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 36px 0 40px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 0;
  }
}

.page-main__wrapper {
  @media (max-width: @mobile-width-only) {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 32px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 83px;
  }
}

.page-main__grid {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 79px;
    padding-bottom: 89px;
    min-height: 582px;
  }
}

.page-main__title {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;

  padding-top: 27px;
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    .resize-text(60px, 60px);
    padding: 63px 38px 54px;
  }

  @media (min-width: @desktop-width) {
    padding: 70px 0 57px;
  }
}

.page-main__title-catalog {
  padding-bottom: 41px;
  letter-spacing: 0.3px;

  @media (min-width: @tablet-width) {
    padding-bottom: 83px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 73px;
  }
}

.page-main__subtitle {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
  padding-bottom: 39px;
  margin: 0;

  @media (min-width: @tablet-width) {
    .resize-text(20px, 30px);
    padding-bottom: 66px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.page-main__form-group {
  border: none;
  padding: 0;
  margin: 0;
}

.page-main__form-info,
.page-main__form-program {
  border-bottom: 1px solid #d9d9d9;
}

.page-main__form-info {
  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
  }
}

.page-main__form-info .page-main__form-group {
  @media (max-width: @mobile-width-only) {
    padding-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.page-main__form-program {
  @media (min-width: @tablet-width) {
    border: 1px solid #d9d9d9;
    padding-left: 28px;
    width: 100%;
    height: 196px;
    margin-bottom: 30px;
    margin-top: 52px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 568px;
  }
}

.page-main__form-info label {
  .text();
  color: #444444;
  width: auto;
  padding-right: 14px;

  @media (min-width: @tablet-width) {
    .resize-text(20px, 30px);
    padding-right: 20px;
  }
}

.page-main__form-info input {
  .text();
  color: #444444;
  border: 1px solid #e7e7e7;
  flex-grow: 1;
  min-height: 45px;
  padding: 5px 16px;

  @media (min-width: @tablet-width) {
    .resize-text(20px, 30px);
    min-height: 52px;
  }
}

.page-main__form-program .page-main__form-group {
  display: flex;
  flex-direction: column;
  margin: 30px 0 25px;

  @media (min-width: @tablet-width) {
    margin: 29px 0 25px;
  }
}

.page-main__form-program label {
  .text();
  color: #222222;
  width: 100%;
  padding-left: 46px;
  position: relative;

  &:not(:last-child) {
    padding-bottom: 24px;
  }

  @media (min-width: @tablet-width) {
    .resize-text(20px, 30px);
    padding-left: 60px;
  }
}

.page-main__form-block {
  padding-top: 21px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 49px;
  }
}

.page-main__form-block-caption {
  .caption();

  @media (min-width: @tablet-width) {
    .resize-text(36px, 36px);
    padding: 0 40px;
    margin-bottom: 76px;

    br {
      display: none;
    }
  }
}

.page-main__form-block .page-main__form-group {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    border-top: 2px solid #68b738;
    top: -45px;
    right: -20px;
    left: 20px;
    z-index: -2;

    @media (min-width: @tablet-width) {
      top: -90px;
      left: -30px;
      right: 30px;
    }

    @media (min-width: @desktop-width) {
      left: -110px;
    }
  }
}

.page-main__form-group textarea {
  resize: none;
  width: 100%;
  min-height: 150px;
  .text();
  padding: 10px 10px;
  border: 1px solid #e7e7e7;

  @media (min-width: @tablet-width) {
    .resize-text(20px, 30px);
    min-height: 174px;
    padding-left: 19px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.page-main__form-button {
  width: 100%;
  border: none;
  background-color: #68b738;
  cursor: pointer;
  min-height: 40px;
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 41px;

  @media (min-width: @tablet-width) {
    .resize-text(20px, 20px);
    width: 282px;
    min-height: 52px;
    margin-left: 41px;
    margin-top: 59px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin: 66px 0 0;
  }
}

.page-main__form-note {
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: block;
  padding-top: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: inline-block;
    vertical-align: baseline;
    .resize-text(16px, 16px);
    padding-left: 61px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 81px;
  }
}

.page-main__footer {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}
