.text {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.caption {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 39px;
  background: #ffffff;
  padding-right: 20px;
  width: max-content;
}

.page-main__form input {
  &:invalid:not(:placeholder-shown) {
    border-color: #ff8282;

    & + svg {
      --basic-green: #ff8282;
    }
  }

  &:valid:not(:placeholder-shown) {
    border-color: #68b738;

    & + svg {
      --basic-green: #68b738;
    }
  }
}

.page-main__catalog {
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.page-main__form-wrapper {
  textarea {
    &:hover {
      border-color: #cdcdcd;
    }

    &:focus {
      outline: 2px solid #444444;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0 36px 0 40px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 0;
  }
}

.page-main__wrapper {
  @media (max-width: @mobile-width-only) {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 32px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 83px;
  }
}

.page-main__grid {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 79px;
    padding-bottom: 89px;
    min-height: 582px;
  }
}

.page-main__title {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0;

  padding-top: 27px;
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    .resize-text(60px, 60px);
    padding: 63px 38px 54px;
  }

  @media (min-width: @desktop-width) {
    padding: 70px 0 57px;
  }
}

.page-main__title-catalog {
  padding-bottom: 41px;
  letter-spacing: 0.3px;

  @media (min-width: @tablet-width) {
    padding-bottom: 83px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 73px;
  }
}

.page-main__subtitle {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
  padding-bottom: 39px;
  margin: 0;

  @media (min-width: @tablet-width) {
    .resize-text(20px, 30px);
    padding-bottom: 66px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

// .page-main__form-programm {
//   border-bottom: 1px solid #d9d9d9;
//   border-top: 1px solid #d9d9d9;
// }

.page-main__form-info {
  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    column-gap: 80px;
    width: 1280px;
  }
}

.page-main__form-programm {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 568px;
  }
}

.page-main__form-block {
  margin-top: 21px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-top: 2px solid #73b638;
    left: 20px;
    right: 0;
    top: 17px;

    @media (min-width: @tablet-width) {
      left: -30px;
      top: 22px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-top: 75px;

    &--comment {
      margin-top: 65px;
    }

    &--optionally {
      margin-top: 62px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;

    &--comment {
      margin-top: 47px;
    }
  }
}

.page-main__form-block-caption {
  .caption();

  @media (min-width: @tablet-width) {
    .resize-text(36px, 36px);
    padding: 0 40px;
    margin-bottom: 76px;

    &--optionally {
      margin-bottom: 59px;
    }

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;
    left: -40px;
  }
}

// .page-main__form-group {
//   border: none;
//   // padding: 0;
//   // margin: 0;
// }

.page-main__form-block .page-main__form-group {
  position: relative;
}

.page-main__form-group textarea {
  resize: none;
  width: 100%;
  min-height: 150px;
  .text();
  padding: 10px 10px;
  border: 1px solid #e7e7e7;

  @media (min-width: @tablet-width) {
    .resize-text(20px, 30px);
    min-height: 174px;
    padding-left: 19px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.page-main__form-button {
  width: 100%;
  border: none;
  background-color: #68b738;
  cursor: pointer;
  min-height: 40px;
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 41px;

  @media (min-width: @tablet-width) {
    .resize-text(20px, 20px);
    width: 282px;
    min-height: 52px;
    margin-left: 41px;
    margin-top: 59px;
    display: inline-block;
    vertical-align: sub;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin: 66px 0 0;
  }
}

.page-main__form-note {
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: block;
  padding-top: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: inline-block;
    vertical-align: baseline;
    .resize-text(16px, 16px);
    padding-left: 61px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 81px;
  }
}

.page-main__footer {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}
