.show-more {
  position: relative;
  padding: 78px 20px 25px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    border: 1px solid #d3d3d3;
    left: 45%;
    top: 21%;

    @media (min-width: @tablet-width) {
      width: 60px;
      left: 41%;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 30px;
    border: 1px solid #d3d3d3;
    transform: rotate(90deg);
    left: 45%;
    top: 21%;

    @media (min-width: @tablet-width) {
      width: 60px;
      left: 41%;
    }
  }

  @media (min-width: @tablet-width) {
    border: 2px solid #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 120px 38px 38px;
  }
}

.show-more__title {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin: 0;
  color: #111111;

  .only-medium {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .resize-text(20px, 22px);
    margin-top: 43px;

    .only-medium {
      display: block;
    }
  }
}

.show-more__desc {
  font-family: @arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
  padding-bottom: 21px;

  .only-medium {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin: 15px 0 10px;
    flex-grow: 1;
    .resize-text(16px, 18px);

    .only-medium {
      display: block;
    }
  }
}

.show-more__link {
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #444444;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  min-height: 40px;
  width: 100%;
  background-color: #f2f2f2;
}
