.social__list {
  padding: 0;
  margin: 0 auto;
  min-height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}

.social__icon svg {
  @media (min-width: @tablet-width) {
    transform: scale(1.34);
  }
}
